doctype html
- var d = 40
// HELLO SDMGHSKFJNDV ACSK,VDLHMBLS LKJF CMG
html
  - var d = 30
  h1.ola#foo #{data+3}
  h1(id='foo', class='ola')
  // sdkjg hbn
  h1.w3-margin-left(style="text-shadow:2px 2px 0 #444")
    a(target="_blank", 
href="https://github.com/MiguelCidadeSilva")
  h2
  //- sdkjsvbjbjfkgdfkjbvdfnv
  b GitHub
    adkvhusv dsdsv

